@import 'media';
.header{
    height: 100px;
    margin: 0;
    padding: 15px;
    font-family: $primaryFonts;
    background-color: $cBlack;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0px 0px 30px 15px #000000;
    border-bottom: 2px solid $cGreen;
    cursor: default;
    transition: ease-in-out 0.5s;
    .header1{
        display: grid;
        justify-content: left;
        align-items: center;
        transition: ease-in-out 0.5s;
        h1{
            padding: 0;
            margin: 0;
            font-weight: 900;
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-size: 45px;
            height: 0px;
            @include glow($cGreen);
            letter-spacing: 6px;
            transition: ease-in-out 0.5s;
            #broken{
                &:before{
                    content: 'n';
                    animation: flicker 10s linear infinite;
                }
            }
        }
        h2{
            padding: 0;
            margin: 35px 0 0 0;
            display: flex;
            justify-content: right;
            align-content: center;
            font-style: italic;
            font-family: CursiveText;
            font-size: 30px;
            color: $cDrkGreen;
            letter-spacing: 5px;
            @include outline(white, 1px, null, null);
            transition: ease-in-out 0.5s;
        }
    }
    


    .header2{
        color:white;
        font-weight: 700;
        margin: 0;
        padding: 0 30px 0 0;
        display: flex;
        font-size: 25px;
        justify-content: center;
        align-content: center;
        align-items: center;
        transition: ease-in-out 0.5s;
        li{
            text-decoration: none;
            display: inline;
            padding-left: 50px;
            letter-spacing: 2px;
            transition: ease-in-out 0.5s;
            a{
                color: $cDrkGreen;
                text-decoration: none;
                @include outline(white,1px, null, null);
                transition: ease-in-out 0.2s;
                &:hover{
                    color:white;
                    text-shadow: 0 0 10px $cGreen, 0 0 10px $cGreen;
                    transition: ease-in-out 0.2s;
                    cursor: pointer;
                }
            }
            
            
        }
    }

    @include responsive(mobile tablet){
        height: 274px;
        display: block;
        padding: 0;
        .header1{
            height: 150px;
            justify-content: center;
            h1{
                width: 245px;
                text-align: center;
                align-items: center;
                margin-top: -35px;
            }  
            h2{
                margin-top: -75px;
                justify-content: center;
            }
        }

        .header2{
            width: 100vw;
            padding: 0;
            display: grid;
            //color: white;
            li{
                width: 100vw;
                font-size: 25px;
                padding: 0;
                text-align: center;
                letter-spacing: 1px;
                border-bottom: 2px outset #767676;
                background: linear-gradient(0deg, #222222 0%, transparent 50%);
                border-top: 1px inset white;
                a{
                    color: white;
                    text-shadow: 0 0 10px $cGreen, 0 0 5px $cGreen;
                }
            }
        }
    };
}
