

.container{
    margin: 0;
    padding: 0;
    display: contents;
    justify-content: center;
    align-items: center;
    color: white;
    h1{
        text-align: center;
    }
    .main{
        display: flex;
        width: 100%;
        text-align: justify;
        .mainC{
            width: 33.33%;
            padding: 0 10px;
        }
    }
}