

.container{
    margin: 0;
    padding: 0;
    display: contents;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 3px;
    .main{
        margin: 100px auto 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 600px;
        text-align: justify;
        background-color: $cBlack;
        border: 1px solid white;
        border-radius: 50px;
        box-shadow: 0 0 20px 0 $cGreen;
        .text{
            padding: 15px 20px 15px 15px;
            text-shadow: 0 0 5px black, 0 0 5px black;
            h1{
                @include outline(white, 1px, null, null);
                color: $cDrkGreen;
                font-family: CursiveText;
                font-size: 50px;
            }
            p{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 20px;
            }
        }
        .image{
            text-transform: capitalize;
            font-style: italic;
            color: rgba(255, 255, 255, 0.685);
            text-align: center;
            img{
                width: 400px;
                height: auto;
                border-radius: 5px;
                border-bottom: 2px solid $cGreen;
                box-shadow: 0 0 10px 0 black;
            }
            p{
                text-shadow: 0 0 5px black, 0 0 5px black;
                padding-top: 5px;
            }
        }
    }
}