@charset "UTF-8";
@-webkit-keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    color: white;
    background: none;
    background-clip: unset;
    text-shadow: 0 0 2px #00ECD8, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #00ECD8, 0 0 20px #00ECD8;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    color: transparent;
    background: #24A075;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 1px -1px 5px #383536;
  }
}
@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    color: white;
    background: none;
    background-clip: unset;
    text-shadow: 0 0 2px #00ECD8, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #00ECD8, 0 0 20px #00ECD8;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    color: transparent;
    background: #24A075;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 1px -1px 5px #383536;
  }
}

/*
#masthead {
    background: white;
    border-bottom:1px solid #eee;
    height: 90px;
    padding: 0 20px;
    @include for_breakpoint(mobile desktop) {
        height:70px;
        position:fixed;
        width:100%;
        top:0;
    }
}*/
.header {
  height: 100px;
  margin: 0;
  padding: 15px;
  font-family: Arial;
  background-color: #383536;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 0px 30px 15px #000000;
          box-shadow: 0px 0px 30px 15px #000000;
  border-bottom: 2px solid #00ECD8;
  cursor: default;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.header .header1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.header .header1 h1 {
  padding: 0;
  margin: 0;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  height: 0px;
  text-shadow: 0 0 2px #00ECD8, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #00ECD8, 0 0 20px #00ECD8;
  letter-spacing: 6px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.header .header1 h1 #broken:before {
  content: 'n';
  -webkit-animation: flicker 10s linear infinite;
          animation: flicker 10s linear infinite;
}

.header .header1 h2 {
  padding: 0;
  margin: 35px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: center;
      align-content: center;
  font-style: italic;
  font-family: CursiveText;
  font-size: 30px;
  color: #24A075;
  letter-spacing: 5px;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white, 0px 0px 7px rgba(0, 0, 0, 0);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.header .header2 {
  color: white;
  font-weight: 700;
  margin: 0;
  padding: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.header .header2 li {
  text-decoration: none;
  display: inline;
  padding-left: 50px;
  letter-spacing: 2px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.header .header2 li a {
  color: #24A075;
  text-decoration: none;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white, 0px 0px 7px rgba(0, 0, 0, 0);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.header .header2 li a:hover {
  color: white;
  text-shadow: 0 0 10px #00ECD8, 0 0 10px #00ECD8;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.header .header2 li #focused {
  color: white;
  text-shadow: 0 0 10px #00ECD8, 0 0 10px #00ECD8;
  cursor: default;
}

@media only screen and (max-width: 667px), only screen and (min-width: 668px) and (max-width: 1248px) {
  .header {
    height: 314px;
    display: block;
    padding: 0;
  }
  .header .header1 {
    height: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header1 h1 {
    width: 245px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -35px;
  }
  .header .header1 h2 {
    margin-top: -75px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header2 {
    width: 100vw;
    padding: 0;
    display: -ms-grid;
    display: grid;
  }
  .header .header2 li {
    width: 100vw;
    font-size: 25px;
    padding: 0;
    text-align: center;
    letter-spacing: 1px;
    border-bottom: 2px outset #767676;
    background: -webkit-gradient(linear, left bottom, left top, from(#222222), color-stop(50%, transparent));
    background: linear-gradient(0deg, #222222 0%, transparent 50%);
    border-top: 1px inset white;
  }
  .header .header2 li a {
    color: white;
    text-shadow: 0 0 10px #00ECD8, 0 0 5px #00ECD8;
  }
}

/*
#masthead {
    background: white;
    border-bottom:1px solid #eee;
    height: 90px;
    padding: 0 20px;
    @include for_breakpoint(mobile desktop) {
        height:70px;
        position:fixed;
        width:100%;
        top:0;
    }
}*/
.container {
  margin: 0;
  padding: 0;
  display: contents;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  letter-spacing: 3px;
}

.container .main {
  margin: 100px auto 0 auto;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  height: 600px;
  text-align: justify;
  background-color: #383536;
  border: 1px solid white;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 20px 0 #00ECD8;
          box-shadow: 0 0 20px 0 #00ECD8;
}

.container .main .text {
  padding: 15px 20px 15px 15px;
  text-shadow: 0 0 5px black, 0 0 5px black;
}

.container .main .text h1 {
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white, 0px 0px 7px rgba(0, 0, 0, 0);
  color: #24A075;
  font-family: CursiveText;
  font-size: 50px;
}

.container .main .text p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.container .main .image {
  text-transform: capitalize;
  font-style: italic;
  color: rgba(255, 255, 255, 0.685);
  text-align: center;
}

.container .main .image img {
  width: 400px;
  height: auto;
  border-radius: 5px;
  border-bottom: 2px solid #00ECD8;
  -webkit-box-shadow: 0 0 10px 0 black;
          box-shadow: 0 0 10px 0 black;
}

.container .main .image p {
  text-shadow: 0 0 5px black, 0 0 5px black;
  padding-top: 5px;
}

.container .mainContacts {
  margin: 50px auto 0 auto;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1100px;
  text-align: justify;
  background-color: #383536;
  border: 1px solid white;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 20px 0 #00ECD8;
          box-shadow: 0 0 20px 0 #00ECD8;
}

.container .mainContacts img {
  width: 250px;
  height: auto;
  border-radius: 5px;
  border-bottom: 2px solid #00ECD8;
  -webkit-box-shadow: 0 0 10px 0 black;
          box-shadow: 0 0 10px 0 black;
}

.container .mainContacts #dets {
  text-transform: capitalize;
  font-style: italic;
  width: 250px;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.685);
  text-shadow: 0 0 5px black, 0 0 5px black;
  padding-top: 5px;
}

.container .mainContacts h1 {
  margin-top: 20px;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white, 0px 0px 7px rgba(0, 0, 0, 0);
  color: #24A075;
  font-family: CursiveText;
  font-size: 45px;
  letter-spacing: 5px;
  font-weight: 700;
}

.container .mainContacts a {
  color: white;
  font-size: 20px;
  text-shadow: 0 0 5px #00ECD8, 0 0 5px #00ECD8;
}

.container .mainContacts .damaged {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.container .mainContacts .sColumn a {
  font-size: 12px;
  font-weight: 600;
}

.container .mainContacts .socialMedia {
  text-align: center;
}

.container .mainContacts .socialMedia h2 {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: #24A075;
  font-family: CursiveText;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white, 0px 0px 7px rgba(0, 0, 0, 0);
}

.container .mainContacts .socialMedia a {
  font-size: 35px;
  margin: 5px;
}

.container .mainContacts .socialMedia .col {
  padding: 15px;
}

.container .mainContacts .socialMedia #instagram {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #instagram:hover {
  text-shadow: none;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #623ca0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #twitter {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #twitter:hover {
  text-shadow: none;
  color: #00acee;
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #twitch {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #twitch:hover {
  text-shadow: none;
  color: #9146ff;
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #github {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #github:hover {
  text-shadow: none;
  color: #171515;
  -webkit-filter: drop-shadow(0 0 2px white);
          filter: drop-shadow(0 0 2px white);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #discord {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #discord:hover {
  text-shadow: none;
  color: #7289d9;
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #linkedin {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #linkedin:hover {
  text-shadow: none;
  color: #0077b5;
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #reddit {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.container .mainContacts .socialMedia #reddit:hover {
  text-shadow: none;
  color: #ff4500;
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

@media only screen and (max-width: 667px), only screen and (min-width: 668px) and (max-width: 1248px) {
  .container .main {
    margin-top: 60px;
    width: 95vw;
    height: auto;
    display: block;
    border-radius: 30px;
  }
  .container .main .image img {
    width: 75vw;
  }
  .container .mainContacts {
    width: 95vw;
    border-radius: 30px;
    display: block;
  }
  .container .mainContacts img {
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  .container .mainContacts #dets {
    margin: auto;
    margin-bottom: 20px;
  }
  .container .mainContacts .sColumn {
    font-size: 15px;
  }
  .container .mainContacts .sColumn a {
    font-size: 15px;
  }
  .container .mainContacts .socialMedia h2 {
    font-size: 50px;
  }
  .container .mainContacts .socialMedia a {
    font-size: 50px;
  }
  .container .mainContacts .socialMedia #instagram {
    text-shadow: none;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #623ca0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-filter: drop-shadow(0 0 2px black);
            filter: drop-shadow(0 0 2px black);
    -webkit-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  }
  .container .mainContacts .socialMedia #twitter {
    text-shadow: none;
    color: #00acee;
    -webkit-filter: drop-shadow(0 0 2px black);
            filter: drop-shadow(0 0 2px black);
    -webkit-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  }
  .container .mainContacts .socialMedia #twitch {
    text-shadow: none;
    color: #9146ff;
    -webkit-filter: drop-shadow(0 0 2px black);
            filter: drop-shadow(0 0 2px black);
    -webkit-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  }
  .container .mainContacts .socialMedia #github {
    text-shadow: none;
    color: #171515;
    -webkit-filter: drop-shadow(0 0 2px white);
            filter: drop-shadow(0 0 2px white);
    -webkit-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  }
  .container .mainContacts .socialMedia #discord {
    text-shadow: none;
    color: #7289d9;
    -webkit-filter: drop-shadow(0 0 2px black);
            filter: drop-shadow(0 0 2px black);
    -webkit-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  }
  .container .mainContacts .socialMedia #linkedin {
    text-shadow: none;
    color: #0077b5;
    -webkit-filter: drop-shadow(0 0 2px black);
            filter: drop-shadow(0 0 2px black);
    -webkit-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  }
  .container .mainContacts .socialMedia #reddit {
    text-shadow: none;
    color: #ff4500;
    -webkit-filter: drop-shadow(0 0 2px black);
            filter: drop-shadow(0 0 2px black);
    -webkit-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  }
}

/*
#masthead {
    background: white;
    border-bottom:1px solid #eee;
    height: 90px;
    padding: 0 20px;
    @include for_breakpoint(mobile desktop) {
        height:70px;
        position:fixed;
        width:100%;
        top:0;
    }
}*/
.footer {
  height: 50px;
  width: 100%;
  background-color: #383536;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 700;
  font-size: 15px;
  font-family: Arial;
  letter-spacing: 3px;
  text-shadow: 0 0 5px black, 0 0 5px black;
  border-top: 1px solid #00ECD8;
  position: relative;
  top: 13vh;
  z-index: 0;
}

.footer #copyrightSign::after {
  padding: 0 5px 0 0;
  content: '©';
}

@media only screen and (max-width: 667px), only screen and (min-width: 668px) and (max-width: 1248px) {
  .footer {
    position: relative;
    top: 0;
    margin-top: 60px;
    font-size: 11px;
  }
}

/*
#masthead {
    background: white;
    border-bottom:1px solid #eee;
    height: 90px;
    padding: 0 20px;
    @include for_breakpoint(mobile desktop) {
        height:70px;
        position:fixed;
        width:100%;
        top:0;
    }
}*/
.loading {
  margin-top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #383536;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #383536 53%, #383536 53%, #262425 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.loading .loadingText {
  background-color: transparent;
  font-family: Arial;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: default;
  position: absolute;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.loading .loadingText h1 {
  width: 754px;
  padding: 0;
  margin: 0;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 75px;
  height: 0px;
  text-shadow: 0 0 2px #00ECD8, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #00ECD8, 0 0 20px #00ECD8;
  letter-spacing: 6px;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.loading .loadingText h2 {
  padding: 0;
  margin: 65px 0 0 0;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-style: italic;
  font-family: CursiveText;
  font-size: 60px;
  color: #24A075;
  letter-spacing: 5px;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white, 0px 0px 10px black;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

@media only screen and (max-width: 667px), only screen and (min-width: 668px) and (max-width: 1248px) {
  .loading .loadingText h1 {
    width: 375px;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
  }
  .loading .loadingText h2 {
    margin-top: 52px;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
  }
}

@media only screen and (max-width: 667px), only screen and (min-width: 668px) and (max-width: 1248px) {
  .loading .loadingText {
    margin-top: -35px;
  }
}

.loading #loadingBar {
  width: 100%;
  height: 10px;
  background-color: #1d1b1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

.loading #loadingBar div {
  width: -1px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px 2px #00ECD8;
          box-shadow: 0 0 10px 2px #00ECD8;
  background: white;
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, white 53%, white 53%, #00ECD8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(53%, white), color-stop(53%, white), to(#00ECD8));
  background: linear-gradient(0deg, white 53%, white 53%, #00ECD8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  left: 0;
  position: absolute;
  z-index: 3;
  -webkit-animation: load 3s 2s forwards;
          animation: load 3s 2s forwards;
}

body {
  overflow: hidden;
}

@-webkit-keyframes load {
  0% {
    width: 0%;
  }
  20%, 40% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  70%, 80% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}

@keyframes load {
  0% {
    width: 0%;
  }
  20%, 40% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  70%, 80% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}

/*
#masthead {
    background: white;
    border-bottom:1px solid #eee;
    height: 90px;
    padding: 0 20px;
    @include for_breakpoint(mobile desktop) {
        height:70px;
        position:fixed;
        width:100%;
        top:0;
    }
}*/
.WorkingArea {
  display: none;
  height: 150px;
}

.worker {
  position: absolute;
  margin-top: 50px;
}

.worker .w-hat {
  width: 22px;
  height: 12px;
  background: #ffed6d;
  background: -webkit-gradient(linear, left top, right top, from(#ffed6d), color-stop(21%, #ffed6d), color-stop(21%, #c29b49), color-stop(22%, #c29b49), color-stop(22%, #ffd06d), color-stop(32%, #ffd06d), color-stop(32%, #ffed6d), color-stop(66%, #ffed6d), color-stop(66%, #c29b49), color-stop(67%, #c29b49), color-stop(67%, #ffd06d), color-stop(77%, #ffd06d), color-stop(77%, #ffed6d), to(#ffed6d));
  background: linear-gradient(90deg, #ffed6d 0%, #ffed6d 21%, #c29b49 21%, #c29b49 22%, #ffd06d 22%, #ffd06d 32%, #ffed6d 32%, #ffed6d 66%, #c29b49 66%, #c29b49 67%, #ffd06d 67%, #ffd06d 77%, #ffed6d 77%, #ffed6d 100%);
  position: absolute;
  z-index: 2;
  border-top-left-radius: 22px;
  /* 20px of height + 12px of border */
  border-top-right-radius: 22px;
  /* 20px of height + 12px of border */
  margin-left: -1px;
  margin-top: -2px;
}

.worker .w-Head {
  width: 20px;
  height: 20px;
  background-color: #ffe6c1;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.worker .w-Pants {
  width: 22px;
  height: 18px;
  margin-top: 34px;
  margin-left: -1px;
  background-color: #21438b;
  position: absolute;
  z-index: 2;
  border-radius: 0 0 500px 500px;
}

.worker .w-Pants .w-suspendersL {
  width: 3px;
  height: 22px;
  background-color: #2853af;
  margin-left: 5px;
  margin-top: -15px;
}

.worker .w-Pants .w-suspendersR {
  width: 3px;
  height: 22px;
  background-color: #2853af;
  margin-left: 15px;
  margin-top: -22px;
}

.worker .w-Body {
  width: 22px;
  height: 35px;
  margin-top: 17px;
  margin-left: -1px;
  position: absolute;
  background-color: yellow;
  border-radius: 500px;
}

.worker .w-LLeg {
  width: 10px;
  height: 25px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #181818), color-stop(30%, #183066));
  background: linear-gradient(0deg, #181818 30%, #183066 30%);
  margin-top: 45px;
  margin-left: 10px;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.worker .w-LHand {
  width: 10px;
  height: 25px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #cfba9a), color-stop(50%, #b9b900));
  background: linear-gradient(0deg, #cfba9a 50%, #b9b900 50%);
  margin-top: 20px;
  margin-left: 14px;
  border-radius: 500px 500px 0 500px;
}

.worker .w-RLeg {
  width: 10px;
  height: 25px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #474747), color-stop(30%, #21438b));
  background: linear-gradient(0deg, #474747 30%, #21438b 30%);
  margin-top: 45px;
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 2;
}

.worker .w-RHand {
  width: 10px;
  height: 25px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ffe6c1), color-stop(50%, yellow));
  background: linear-gradient(0deg, #ffe6c1 50%, yellow 50%);
  margin-top: 19px;
  margin-left: -3px;
  border-radius: 500px 500px 500px 0;
  z-index: 2;
}

.worker .w-Shadow {
  width: 26px;
  height: 7px;
  background-color: black;
  position: absolute;
  margin-left: -4px;
  margin-top: 67px;
  border-radius: 50%;
  opacity: 0.3;
  -webkit-box-shadow: 0 0 5px 5px black;
          box-shadow: 0 0 5px 5px black;
}

.ladder {
  position: absolute;
}

.ladder .poleL {
  background-color: gray;
  width: 5px;
  height: 120px;
  position: absolute;
}

.ladder .step1 {
  background-color: gray;
  width: 30px;
  height: 4px;
  margin-left: 2px;
  margin-top: 18.8px;
  position: absolute;
  z-index: 1;
}

.ladder .step2 {
  background-color: gray;
  width: 30px;
  height: 4px;
  margin-left: 2px;
  margin-top: 37.6px;
  position: absolute;
  z-index: 1;
}

.ladder .step3 {
  background-color: gray;
  width: 30px;
  height: 4px;
  margin-left: 2px;
  margin-top: 56.4px;
  position: absolute;
  z-index: 1;
}

.ladder .step4 {
  background-color: gray;
  width: 30px;
  height: 4px;
  margin-left: 2px;
  margin-top: 75.2px;
  position: absolute;
  z-index: 1;
}

.ladder .step5 {
  background-color: gray;
  width: 30px;
  height: 4px;
  margin-left: 2px;
  margin-top: 94px;
  position: absolute;
  z-index: 1;
}

.ladder .poleR {
  width: 5px;
  height: 120px;
  position: absolute;
  background-color: #616161;
  margin-left: 30px;
}

.hammeringWorker {
  position: absolute;
  margin-top: -30px;
  margin-left: 8px;
  z-index: 2;
}

.hammeringWorker .hw-hat {
  width: 22px;
  height: 12px;
  background: #ffed6d;
  background: -webkit-gradient(linear, left top, right top, from(#ffed6d), color-stop(21%, #ffed6d), color-stop(21%, #c29b49), color-stop(22%, #c29b49), color-stop(22%, #ffd06d), color-stop(32%, #ffd06d), color-stop(32%, #ffed6d), color-stop(66%, #ffed6d), color-stop(66%, #c29b49), color-stop(67%, #c29b49), color-stop(67%, #ffd06d), color-stop(77%, #ffd06d), color-stop(77%, #ffed6d), to(#ffed6d));
  background: linear-gradient(90deg, #ffed6d 0%, #ffed6d 21%, #c29b49 21%, #c29b49 22%, #ffd06d 22%, #ffd06d 32%, #ffed6d 32%, #ffed6d 66%, #c29b49 66%, #c29b49 67%, #ffd06d 67%, #ffd06d 77%, #ffed6d 77%, #ffed6d 100%);
  position: absolute;
  z-index: 2;
  border-top-left-radius: 22px;
  /* 20px of height + 12px of border */
  border-top-right-radius: 22px;
  /* 20px of height + 12px of border */
  margin-left: -1px;
  margin-top: -2px;
}

.hammeringWorker .hw-Head {
  width: 20px;
  height: 20px;
  background-color: #ffe6c1;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.hammeringWorker .hw-Pants {
  width: 22px;
  height: 18px;
  margin-top: 34px;
  margin-left: -1px;
  background-color: #21438b;
  position: absolute;
  z-index: 2;
  border-radius: 0 0 500px 500px;
}

.hammeringWorker .hw-Pants .hw-suspendersL {
  width: 3px;
  height: 22px;
  background-color: #2853af;
  margin-left: 5px;
  margin-top: -15px;
}

.hammeringWorker .hw-Pants .hw-suspendersR {
  width: 3px;
  height: 22px;
  background-color: #2853af;
  margin-left: 15px;
  margin-top: -22px;
}

.hammeringWorker .hw-Body {
  width: 22px;
  height: 35px;
  margin-top: 17px;
  margin-left: -1px;
  position: absolute;
  background-color: #2bb900;
  border-radius: 500px;
}

.hammeringWorker .hw-LLeg {
  width: 10px;
  height: 25px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #181818), color-stop(30%, #183066));
  background: linear-gradient(0deg, #181818 30%, #183066 30%);
  margin-top: 45px;
  margin-left: 10px;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.hammeringWorker .hw-LHand {
  width: 10px;
  height: 25px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #cfba9a), color-stop(50%, #1b7500));
  background: linear-gradient(0deg, #cfba9a 50%, #1b7500 50%);
  margin-top: 25px;
  margin-left: 14px;
  border-radius: 500px 500px 0 500px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: hammering 2s linear infinite;
          animation: hammering 2s linear infinite;
}

.hammeringWorker .hw-LHand .hw-HammerHandle {
  width: 15px;
  height: 5px;
  background-color: #665439;
  position: absolute;
  margin-top: 18px;
  margin-left: 5px;
}

.hammeringWorker .hw-LHand .hw-HammerHandle .hw-Hammer {
  width: 8px;
  height: 15px;
  background-color: #3f3f3f;
  position: absolute;
  margin-top: -5px;
  margin-left: 15px;
}

.hammeringWorker .hw-RLeg {
  width: 10px;
  height: 25px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #474747), color-stop(30%, #21438b));
  background: linear-gradient(0deg, #474747 30%, #21438b 30%);
  margin-top: 45px;
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 2;
}

.hammeringWorker .hw-RHand {
  width: 10px;
  height: 25px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ffe6c1), color-stop(50%, #2bb900));
  background: linear-gradient(0deg, #ffe6c1 50%, #2bb900 50%);
  margin-top: 19px;
  margin-left: -3px;
  border-radius: 500px 500px 500px 0;
  z-index: 2;
}

.hammeringWorker .hw-Shadow {
  width: 28px;
  height: 4px;
  background-color: black;
  position: absolute;
  margin-left: -4px;
  margin-top: 150px;
  border-radius: 50%;
  opacity: 0.3;
  -webkit-box-shadow: 0 0 5px 5px black;
          box-shadow: 0 0 5px 5px black;
}

.stripe {
  background: repeating-linear-gradient(45deg, yellow, yellow 10px, orange 10px, orange 20px);
  width: 500px;
  height: 12px;
  position: absolute;
  z-index: 9;
  margin-top: 100px;
  margin-left: -4px;
}

.stripe p {
  margin: 0;
  padding: 0;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  text-align: center;
  font-size: 10px;
  margin-top: -1px;
}

.stripe .stand2 {
  background-color: gray;
  width: 20px;
  height: 15px;
  border-radius: 500px;
  margin-top: 31px;
  margin-left: 486px;
  border-bottom: 3px solid #444444;
  position: absolute;
}

.stripe .stand2 .wood {
  background-color: #58402c;
  width: 6px;
  height: 40px;
  margin-left: 7px;
  margin-top: -32px;
  position: absolute;
  border-radius: 0 0 500px 500px;
}

.stripe .stand1 {
  background-color: gray;
  width: 20px;
  height: 15px;
  border-radius: 500px;
  margin-top: 31px;
  margin-left: -6px;
  border-bottom: 3px solid #444444;
  position: absolute;
}

.stripe .stand1 .wood {
  background-color: #58402c;
  width: 6px;
  height: 40px;
  margin-left: 7px;
  margin-top: -32px;
  position: absolute;
  border-radius: 0 0 500px 500px;
}

.stripe .stripeShadow {
  width: 510px;
  height: 6px;
  background-color: black;
  position: absolute;
  margin-left: -4px;
  margin-top: 40px;
  border-radius: 500px;
  opacity: 0.2;
  -webkit-box-shadow: 0 0 5px 5px black;
          box-shadow: 0 0 5px 5px black;
}

@media only screen and (max-width: 667px), only screen and (min-width: 668px) and (max-width: 1248px) {
  .stripe {
    width: 70vw;
  }
  .stripe .stand2 {
    position: initial;
    margin-right: -7px;
    margin-top: 30px;
    float: right;
  }
  .stripe .stand1 {
    margin-top: 30px;
  }
  .stripe .stripeShadow {
    width: 71.5vw;
  }
}

@-webkit-keyframes hammering {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50% {
    -webkit-transform: rotate(-100deg);
            transform: rotate(-100deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes hammering {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50% {
    -webkit-transform: rotate(-100deg);
            transform: rotate(-100deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@-webkit-keyframes rightLegMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rightLegMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes leftLegMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes leftLegMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*
#masthead {
    background: white;
    border-bottom:1px solid #eee;
    height: 90px;
    padding: 0 20px;
    @include for_breakpoint(mobile desktop) {
        height:70px;
        position:fixed;
        width:100%;
        top:0;
    }
}*/
@font-face {
  font-family: CursiveText;
  src: url(fonts/Blacksword.otf);
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1b1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #484848;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

body {
  margin: 0;
  background-color: #1d1b1c;
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */