@charset "UTF-8";
@-webkit-keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    color: white;
    background: none;
    background-clip: unset;
    text-shadow: 0 0 2px #00ECD8, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #00ECD8, 0 0 20px #00ECD8;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    color: transparent;
    background: #24A075;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 1px -1px 5px #383536;
  }
}
@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    color: white;
    background: none;
    background-clip: unset;
    text-shadow: 0 0 2px #00ECD8, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #00ECD8, 0 0 20px #00ECD8;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    color: transparent;
    background: #24A075;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 1px -1px 5px #383536;
  }
}

.header {
  height: 100px;
  margin: 0;
  font-family: Arial;
  background-color: #383536;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 30px 15px #000000;
          box-shadow: 0px 0px 30px 15px #000000;
  border-bottom: 2px solid #00ECD8;
}

.header h1 {
  padding: 0;
  margin: 0;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  height: 0px;
  text-shadow: 0 0 2px #00ECD8, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #00ECD8, 0 0 20px #00ECD8;
  letter-spacing: 6px;
}

.header h1 #broken:before {
  content: 'n';
  -webkit-animation: flicker 10s linear infinite;
          animation: flicker 10s linear infinite;
}

.header h2 {
  padding: 0;
  margin: 15px 0 0 0;
  text-align: center;
  font-style: italic;
  font-family: CursiveText;
  font-size: 30px;
  color: #24A075;
  letter-spacing: 5px;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white, 0px 0px 7px rgba(0, 0, 0, 0);
}

.container {
  margin: 0;
  padding: 0;
  display: contents;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.container h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: justify;
}

.container .main .mainA, .container .main .mainB, .container .main .mainC {
  width: 33.33%;
  padding: 0 10px;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .mainA h1, .container .main .mainB h1, .container .main .mainC h1 {
  text-align: left;
}

.container .main .mainB {
  background-color: #383536;
}

.container .main .mainC {
  background: url(https://i.gifer.com/origin/82/82a1ed531e333926a8ca2a00c277e0d1.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  height: 50px;
  background-color: #383536;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 700;
  font-size: 15px;
  font-family: Arial;
  letter-spacing: 3px;
  text-shadow: 0 0 5px black, 0 0 5px black;
  border-top: 1px solid #00ECD8;
  position: relative;
  bottom: 0;
}

.footer #copyrightSign::after {
  padding: 0 5px 0 0;
  content: '©';
}

@font-face {
  font-family: CursiveText;
  src: url(fonts/Blacksword.otf);
}

body {
  margin: 0;
  background-color: #1d1b1c;
}
/*# sourceMappingURL=style.css.map */