@import 'sass/variables';
@import 'sass/mixins';
@import 'sass/header';
@import 'sass/main';
@import 'sass/footer';


@font-face {
    font-family: CursiveText;
    src: url(fonts/Blacksword.otf);
}


body{
    margin: 0;
    background-color: $cDark;
}
